<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Cars</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Rent - Cars</h1>
    <p>
        Welcome to the Cars page, choose suitable car for you
    </p>

    <h1><i class="fa-solid fa-car-side"></i> Featured Cars</h1>
    <br>

            <div class="panel">
                <h3 class="panel-title">
                    G Class Brabus ⌚
                </h3>
                <img th:src="@{/image/Cars/Car2.webp}" alt="Bootstrap" width="400"height="240">

                <div class="panel-body">
                    <p>💰 Price: 500$</p>
                    <p>The luxury car with 5.5 Biturbo</p>
                </div>
            </div>
    <div class="product-list">
        <div class="product-list-row">
            <div class="panel">
                <h3 class="panel-title">
                    Ford Mustang 🎧
                </h3>
                <img th:src="@{/image/Cars/Car1.jpg}" alt="Bootstrap" width="400"height="240">
                <div class="panel-body">
                    <p>💰 Price: 200$</p>
                    <p> Price per day 5.0, 400 Hp</p>
                </div>
            </div>
            <div class="panel">
                <h3 class="panel-title">
                    Ford Fusion
                </h3>
                <img th:src="@{/image/Cars/Car3.jpg}" alt="Bootstrap" width="400"height="240">
                <div class="panel-body">
                    <p>💰 Price: $70</p>
                    <p>🔹Economy 2.0 hybrid</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>