<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Rent Website</h1>
    <div class="badge text-bg-primary text-wrap" style="width: 80rem;">
        <h1 class="text-center">On this site you can Rent everything .</h1>
        <P>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, aspernatur at aut commodi corporis dolor earum,
            iste maxime nihil qui quisquam quod reiciendis repudiandae ut voluptas voluptatibus! Aut, doloribus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, aspernatur at aut commodi corporis dolor earum,
            iste maxime nihil qui quisquam quod reiciendis repudiandae ut voluptas voluptatibus! Aut, doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, aspernatur at aut commodi corporis dolor earum,
            iste maxime nihil qui quisquam quod reiciendis repudiandae ut voluptas voluptatibus! Aut, doloribus.

        </P>
    </div>
    <br>


</div>
</body>
</html>